*{
       margin: 0px;
       box-sizing: border-box;
       font-family: Arial;
       
}
.navbar{
       height: 60px;
       background-color: #0f1111;
       color: #e5dada;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
}
.nav-logo{
       height: 50px;
       width: 100px;
}
.logo{
       background-image: url("amazon_logo.png");
       background-size: cover;
       height: 50px;
       width: 100%;
}
.border{
       border: 1.5px solid transparent;
}
.border:hover{
       border: 1.5px solid white;
}
.add-first{
       color: #cccccc;
       font-size: 0.85rem;
       margin-left: 10px;
}
.add-two{
       color: #ffffff;
       font-size: 1rem;
       margin-left: 5px;
}
.logo-icon{
       display: flex;
       align-items: center;
}
.nav-search{
       display: flex;
       background-color: pink;
       width: 620px;
       height: 40px;
       border-radius: 4px;
       justify-content: space-evenly;
}
.nav-search:hover{
       border: 2px solid orange;
}
.search-select{
       
       width: 40px;
       background: #e6e6e6;
       color: #0f1111;
       text-align: center;
       border-top-left-radius: 4px;
       border-bottom-left-radius: 4px;
       border: none;
}
.search{
       width: 100%;
       font-size: 1rem;
       border: none;
}
.search-icon{
       width: 45px;
       display: flex;
       justify-content: center;
       align-items: center;
       border: none;
       background-color: rgb(232, 188, 56);
       border-top-right-radius: 4px;
       border-bottom-right-radius: 4px;
       font-size: 1.2rem;
}
span{
       font-size: 0.8rem;
}
.class-list{
       font-weight: 700;
}
.nav-cart i{
       
       height: 26px;
       
}
.pannel{
       height: 40px;
       background-color: #2a2e2e;
       display: flex;
       color: #ffffff;
       align-items: center;
       justify-content: space-evenly;
}
.pannel-obj p{
       display: inline;
}
.pannel-obj{
       width: 65%;
}
.pannel-obj p{
       font-size: 0.8rem;
       margin-left: 20px;
}
.pannel-deals{
       font-size: 0.9rem;
}
.hero-section{
       background-image: url(heroimage.png);
       height: 350px;
       background-size: cover;
       display: flex;
       justify-content: center;
       align-items: flex-end;
       
}
.hero-msg{
       background-color: #ffffff;
       height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 80%;
       margin-bottom: 25px;
}
.hero-msg a{
       color: #007185;
}
.shop-section{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       background-color: #e2e7e6;
       
}
.box{
       border: 2px solid black;
       height: 400px;
       width: 23%;
       background-color: #fff;
       padding: 20px 0px 15px;
       margin-top: 15px;
       border: none;
}
.box-contain{
       margin-left: 1rem;
       margin-right: 1rem;
}
.box-img{
       height: 300px;
       background-size: cover;
       margin-top: 1rem;
       margin-bottom: 1rem;
}
.box-contain p{
       color: #007185;
}
footer{
       margin-top: 15px;
}
.first-pannel{
       background-color: #37475a;
       color: #ffffff;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 50px;
       font-size: 0.85rem;

}
.seccond-pannel{
       background-color: #222f3d;
       height: 500px;
       color: #ffffff;
       display: flex;
       justify-content: space-evenly;
      
}
ul p{
       margin-top: 30px;
}
ul a{
       display: block;
       font-size: 1rem;
       margin-top: 15px;
       color: #dddddd;
}
.third-pannel{
       background-color: #222f3d;
       border-top: 0.1px solid white;
       height: 70px;
       display: flex;
       justify-content: center;
       align-items: center;
}
.logo2{
       background-image: url("amazon_logo.png");
       background-size: cover;
       height: 35px;
       width: 75px;
       margin-right: 50px;
}
.botton {
       color: #cccccc;
       height: 26px;
       border: 1px solid white;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 15px 25px;
       margin: 25px ;
}
.botton i{
       margin-right: 10px;
}
.botton2{
       border: 1px solid white;
       color: #cccccc;
       height: 26px;
       border: 1px solid white;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 15px 25px;
}
.fourth-pannel ul {
       unicode-bidi: isolate;
       background-color: #131a22;
       width: 100%;
       height: 185px;
       color: #dddddd;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       font-family: inherit;
       
}
ul{
       display: block;
       list-style-type: disc;
       /*margin-block-start: 1rem;
       margin-block-end: 1rem;
       padding-inline-start: 40px;*/
       unicode-bidi: isolate;
       list-style-type: none;
       line-height: 18px;
       
}
h5{
       color: #dddddd;
}
span{
       color: #999999;
}
.last-foot{
       background-color: #131a22;
       height: 75px;
       color: #dddddd;
       
}
.pages {
       
       text-align: center;
       padding-top: 15px;
}
.pages a{
       font-size: 0.8rem;
       
}
.history {
       margin-top: 5px;
       font-size: 0.9rem;
       text-align: center;
}